
.gameImage {
    width: 400px;
    height: auto;
    left: 500px;
    position: relative;
    bottom: 165px;
    padding-right: 10px;
}

.GameText  {
    width: 450px;
    padding: 20px;
}
h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 20px;

}


.image {
    height: 50px;
}
h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 26px;
}
.descriptionBox{
    background-color: rgba(11, 50, 96, 0.3);
    width: 920px;
    height: 270px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    border-radius: 5px;

}
.divItem{
    background-color: rgba(88, 122, 163, 1);
    width: 150px;
}

.divItem > img {
    width: 100px;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.CompPrice{
    background-color: rgba(11, 50, 96, 0.3);
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.ItemText{
position: relative;
    left: 300px;
    top: 80px;
    font-size: 24px;

}

button {
  position: relative;
    left: 1145px;
    top: 80px;
    height: 70px;
    width: 120px;
    outline: none;
    border: none;
    background-color: rgba(228, 63, 90, 1);
    font-weight: bold;
    font-size: 24px;
}


.GamePrice{
    position: relative;
    left: 900px;
    top: 85px;
    color: #1BF128;
    font-size: 36px;
    font-weight: bold;
}

.fake{
    height: 100px;
    visibility: hidden;
}

.CompItem {
    height: 75px;
}

.commonitem{
position:relative;
    top: 30px;
}
.AboutGame{
    width: 700px;
    margin-left: 345px;
    margin-right: auto;
}

.PC {
    background-color: rgba(11, 50, 96, 0.3);
    width: 500px;
    height: auto;
    position: relative;
    left: 1100px;
    bottom: 700px;
}

h3{
    font-weight: bold;
}