*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

input:focus {
    outline: none;
}

.ReactModal__Overlay--after-open {
    backdrop-filter: blur(40px);
    background-color: transparent !important;
}