h1{
    color : green;
}

#square {
     float : left;
     border-radius: 5px;
     margin: 7em 0.5em 5.6em 4em;
     position : relative;
     top : -55px;
     left : 6em;
     height: 85px;
     width: 330px;
     background-color: #1F4068;
}

#games{
    position: static;
}



#filters{
    position: relative;
    width: 50%;
    height: 100%;
    top : 135px;
    display: inline-block;
}

#filterButtons{
    position : relative;
    left : 100px;
    margin : 50px;
    float : left;
    top: -55px;

}

.filterButton{
    border : none;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

}

#filtSquarePopular{
    position: relative;
    top: 5px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    position : relative;
    background-color: white;

}



#filtSquareNew{
    top: 5px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    position : relative;
    right: 20px;
    background-color: white;
}


#filtSquareFree{
    top: 5px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    position : relative;
    right: 20px;

    background-color: white;
}


#mainPage{
    position: static;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
}



#rearrs{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#rearrTopLine{
    position: relative;
    top: -36px;
    opacity: 0.2;
    left : -26px;
    width : 1534px;

}

#rearrBotLine{
    opacity: 0.2;
    top: -130px;
    left : -26px;
    width : 1534px;
    position: relative;
    bottom : 80px;
}

.rearrButton{
    background: none;
    border : none;
    position: relative;
    top:-35px;
    left: 950px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color : white;
}

#gameImage{
    float : left;
    position : relative;
    bottom: 128px;
    width: 330px;
    height:130px;
    object-fit:cover;
    object-position:50% 0%;

}

#gameName{
    position: absolute;
    font-family: Montserrat;
    font-size: 16px;
    top : 50%;
    left : 50%;
    color: white;
    transform: translate(-50%, -50%);
}


#gamePrice{
    width: 73px;
    height: 22px;

    position: absolute;
    top : 70%;
    left : 82%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color : #1BF128;
}

#gamePriceFrom{
    width: 73px;
    height: 22px;

    position: absolute;
    top : 70%;
    left : 75%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color : white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#priceRearr:active{
    color:darkgrey;
}
#priceRearr:hover{
    opacity:0.6;
}

#genreRearr:active{
    color:darkgrey;
}
#genreRearr:hover{
    opacity:0.6;
}
#genreRearr{
    left: 1000px;
}
#dateRearr{
left:950px;
}
#priceRearr{
    left: 1050px;
}
#dateRearr:active{
    color:darkgrey;
}
#dateRearr:hover{
    opacity:0.6;
}




#filtSquarePopular:hover{
    opacity:0.6;
}

#filtSquarePopular:active{
    background-color: darkgrey;
}
#filtSquareNew:hover{
    opacity:0.6;
}

#filtSquareFree:active{
    background-color: darkgrey;
}
#filtSquareFree:hover{
    opacity:0.6;
}


#filtSquareTen:hover{
    opacity:0.6;
}



